{% extends "layout.html" %}
{%block content%}
<div class="post-area">
    <div class="post-img">
        <img src="{{url_for('static', filename='img/'+post.image_file) }}" alt="">
    </div>
    <div class="post-details">
        <p>{{ post.title }}</p>
        <p>Author: {{ post.user.username }}</p>
        <p>Posted on: {{post.date.strftime('%d-%m-%Y')}}</p>
    </div>
    <div class="post-content">
        <p>{{ post.content }}</p>
    </div>
    <div class="post-rating">
        <p>Average Rating: {{ avg_rating }}</p>
        {% if user_rating %}
        <p>Your Rating: {{ user_rating }} </p>
        <form action="{{ url_for('rate_post', post_id=post.id)}}" method="POST">
            {{ rating_form.hidden_tag() }}
            {{rating_form.rating}}
            {{ rating_form.submit() }}
        </form>
        {% endif %}
    </div>
    <div class="post-comments">
        {% for comment in comments %}
        <p>"{{ comment.content }}" &nbsp <small>Author:
                {{ comment.user.username }} </small></p>
        {% endfor %}
        {% if current_user.is_authenticated %}
        <form action="{{ url_for('post_comment', post_id=post.id)}}" method="POST">
            {{ comment_form.hidden_tag() }}
            <div class="">
                {{ comment_form.comment.label }} {{ comment_form.comment }}
                {% for error in comment_form.comment.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="">
                {{ comment_form.submit() }}
            </div>
        </form>
    </div>
</div>
{% endif%}
{%endblock content%}